body {
  background: linear-gradient(to bottom, #2fa5ed, #b5d3f9, #ebeefb);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
